*{
  padding: 0%;
  margin: 0%;
}

body{
 font-family: Arial, Helvetica, sans-serif;
}

.navbar img {
  max-width: 10%;
  max-height: 10%;
  top: 3px;
  left: 5px;
  position: absolute;
}

.navbar {
  width: 100%;
  background-color: #996F52;
  overflow: auto;
  
}

.navbar a {
  float: right;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 34px;
}

.navbar2 {
  width: 100%;
  background-color: #996F52;
  overflow: hidden;
  text-align: center;
  font-size: 37px;
  z-index: 1;
}
.navbar2 a {
  text-align: center;
  padding: 40px;
  color: white;
  text-decoration: none;
  
}
.navbar2 li {
  display: inline;
  margin: 30px;
  background-color: none;
  padding: 10px;
  
}

.navbar a:hover{
  background-color: #000;
}

.navbar2 a:hover{
  background-color: #000;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 23;
}


menu {
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}

#tekstballon{
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);  
    margin-top: 200px;
}

#tekstballon2{
  border: 2px solid white;
  padding: 50px;
  border-radius: 25px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);  
  margin-top: 400px;
}
.container {
  background-image: url("../afb/Lam_gebouw(2).jpg");
  height: 1000px;
}

.container2 {
  background-image: url("../afb/Schilderij.png");
    height: 900px;
    
}

.tekst{
  color: white;
  padding-left: 20px;
}

footer{
  background-color: #996F52;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer label{
  margin-top: 35px;
}




