<<<<<<< HEAD
style
body {
    <div class="begin">
   {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 23;
}

.begin {
  background-image: url("../afb/LAM_gebouw.jpg");
}
=======
menu {
    background-color: #996F52;
}
.container {
    background-image: url("../afb/Lam_gebouw(2).jpg");
    width: 1220px;
    min-height: 1220px;
    margin: 0 auto;
}
>>>>>>> 6d6423d8125e41c6bbe032e632a0dae05628d8c3
