*{
  padding: 0%;
  margin: 0%;
}

body{
 font-family: Arial, Helvetica, sans-serif;

}

#tekstballon{
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);  
  margin-top: 200px;

}

.navbar img {
  max-width: 10%;
  max-height: 10%;
  top: 3px;
  left: 5px;
  position: absolute;
}

.navbar {
  width: 100%;
  background-color: #996F52;
  overflow: auto;
  
}

.navbar a {
  float: right;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 34px;
}


.navbar a:hover{
  background-color: #000;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 23;
  padding-left: 30px;
}
.container {
  background-image: url("../afb/Lam_gebouw(2).jpg");
  height: 800px;
}

#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3{
  padding-left: 700px;
  padding-top: -700px;
}


footer{
  background-color: #996F52;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer label{
  margin-top: 35px;
  max-block-size: 150%;
}

footer ul{
  padding-right: 9px;
  padding-top: 2px;
}

footer input{
  max-width: 110%;
  max-height: 110%;
}

footer h1{
  padding-left: 8px;
}
footer a{
  padding-left: 8px;
}

