*{
    padding: 0%;
    margin: 0%;
  }
  
  body{
   font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar img {
    max-width: 10%;
    max-height: 10%;
    top: 3px;
    left: 5px;
    position: absolute;
  }
  
  .navbar {
    width: 100%;
    background-color: #996F52;
    overflow: auto;
    
  }
  
  .navbar a {
    float: right;
    padding: 18px;
    color: white;
    text-decoration: none;
    font-size: 34px;
  }
  .container {
    background-image: url("../afb/Lam_gebouw(2).jpg");
    height: 1000px;
  }


  
  
  