** {
  opvulling : 0 % ;
  marge : 0 % ;
}

lichaam {
 font-family : Arial , Helvetica , sans-serif;
}

. navbar  img {
  max-breedte : 10 % ;
  max-hoogte : 10 % ;
  boven : 3 px ;
  links : 5 px ;
  positie : absoluut;
}

. navigatiebalk {
  breedte : 100 % ;
  achtergrondkleur : # 996F52 ;
  overloop : auto;
  
}

. navbar  a {
  zweven : rechts;
  opvulling : 18 px ;
  kleur : wit;
  tekstversiering : geen;
  lettergrootte : 34 px ;
}
. container {
  achtergrondafbeelding : url ( "../afb/Lam_gebouw(2).jpg" );
  hoogte : 1000 px ;
}