@keyframes goodAnswerAnimation {
    from {background-color: yellow;}
    to {background-color: green;}
}
@keyframes wrongAnswerAnimation {
    from {background-color: yellow;}
    to {background-color: green;}
}
@keyframes newQuestion {
  from {margin-left: 800px;}
  to{margin-left:0px;}
}
body{
  background-image: url("../afb/Lam_gebouw(2).jpg");
  font: 1em sans-serif;
  margin: 0;
}
.container{
  margin: 0;
}
.wrapper{
  overflow: hidden;
  width: 80%;
  margin: auto;
  border: 4px solid #6d462d;

}
.quizTitle {
  color: white;
}
.myQuestion  {
  color: white;
}

.myQuestion::first-letter{
  color:white;
}
.questionBox, .resultBox {
  padding: 20px;
  width: 80%;
  margin-left:0px;
  margin-top: 50px;
}
.questionBox-new{
  padding: 20px;
  width: 80%;
  margin-left:0px;
  animation-name: newQuestion;
  animation-duration: 1s;
}

.myAnswer{
  width: 80%;
  text-align: center;
}
.answer{
  list-style-type: none;
  padding: 10px;
  background-color:white;
  border:4px solid #6d462d;
  border-radius: 12px;
  margin: 15px;
}
.answer:hover{
  background-color: yellow;
  cursor: pointer;
}
.right {
  padding: 10px;
  color:white;
  border:4px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: green;
  animation-name: goodAnswerAnimation;
  animation-duration: 4s;
}
.wrong{
  padding: 10px;
  color:white;
  border:4px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: red;
  animation-name: wrongAnswerAnimation;
  animation-duration: 4s;
}

#eind_img2{
  width: 60%;
  height: auto;
}

.navbar img {
  max-width: 10%;
  max-height: 10%;
  top: 3px;
  left: 5px;
  position: absolute;
}

.navbar {
  width: 100%;
  height: 84px;
  background-color: #996F52;
  overflow: auto;
  
}

.navbar a {
  float: right;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 34px;
}

.navbar a:hover{
  background-color: #000;
}

footer{
  background-color: #996F52;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 485px;
}

footer label{
  margin-top: 35px;
  max-block-size: 150%;
}

footer ul{
  padding-right: 9px;
  padding-top: 2px;
}

footer input{
  max-width: 110%;
  max-height: 110%;
}

footer h1{
  padding-left: 8px;
}
footer a{
  padding-left: 8px;
}

